<form class="" action="/average_joes/gym_classes/<%= @gym_class.id %>" method="post">

  <label for="gym-class">Gym Class:</label>
    <select id="gym-class" class="" name="gym_class_type">
      <option value="Crossfit" <%="selected" if @gym_class.gym_class_type == "Crossfit" %>>CrossFit</option>
      <option value="Yoga" <%="selected" if @gym_class.gym_class_type == "Yoga" %>>Yoga</option>
      <option value="Olympic Lifting" <%="selected" if @gym_class.gym_class_type == "Olympic Lifting" %>>Olympic Lifting</option>
      <option value="Pilates" <%="selected" if @gym_class.gym_class_type == "Pilates" %>>Pilates</option>
    </select>

  <label for="class-time">Time:</label>
    <input id="class-time" type="text" name="class_time" value="<%=@gym_class.class_time%>">

  <input type="submit" name="" value="Edit Class">
</form>
